backend/storage/logs/laravel.log
.vscode
.idea
.sencha
backend/bootstrap/cache/config.php

mis/backend/storage/api-docs/api-docs.json
mis/bootstrap.js
mis/classic.json
mis/classic.jsonp
mis/modern.json
mis/modern.jsonp
mis/backend/bootstrap/
production/*
mis/build/*